.card-content{
    padding-left: 19rem;
    padding-top: 10rem;
    padding-right: 5rem;
}

.dashboard-title{
    padding-left: 15rem;
    padding-bottom: 3rem;
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    // background: #fbf8ec;
    background: -moz-linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: -ms-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: -o-linear-gradient(to bottom, #FFFFFF 35%,#4e6773 100%);
    background: linear-gradient(to bottom, #ffff3bdf 10%,#4c0e0e 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}