<div class="main">
    <div class="section-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <br/>
                <h2 class="title">Let's talk product</h2>
                <h5 class="description">Now-a-days there is a need of a platform which should be an extended level of train 
                    tracking system through which user can find the train which is appropriate to their travel route.
                    This solution not only help users to find their perfect route but also it will result in the cost-cutting
                     to the people by comparing all trains current price. </h5>
                <br>
                <br>
                <button class="btn btn-danger btn-round" (click)="routeToDashboard()">See Details</button>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Time taken by Trains</h4>
                        <br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Minimization of cost</h4>
                        <br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Shortest route</h4>
                        <br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Link up of trains via more than one station</h4>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a><img src="./assets/img/faces/shantanu.jpeg" alt="..."></a>
                    </div>
                    <br>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Shantanu</h4>
                                <h6 class="card-category">Btech 8th Sem.</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Redg No. - 1841012512,
                            CSE 'F'
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <p class="card-description text-center">
                            1841012512.f.shantanu@gmail.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a><img src="./assets/img/faces/shafeen.jpeg" alt="..."></a>
                    </div>
                    <br/>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Shafeen Rizvi</h4>
                                <h6 class="card-category">Btech 8th Sem.</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Redg No. - 1841012150,
                            CSE 'F'
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <p class="card-description text-center">
                            1841012512.f.shantanu@gmail.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a><img src="./assets/img/faces/abhinav.jpg" alt="..."></a>
                    </div>
                    <br/>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Abhinav Sharma</h4>
                                <h6 class="card-category">Btech 8th Sem.</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Redg No. - 1841012238,
                            CSE 'F'
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <p class="card-description text-center">
                            1841012512.f.shantanu@gmail.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <br/>
                    <div class="card-block">
                        <a>
                            <div class="author">
                                <h4 class="card-title">Dev Kumar Shukla</h4>
                                <h6 class="card-category">Btech 8th Sem.</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Redg No. - 1841012526,
                            CSE 'F'
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <p class="card-description text-center">
                            1841012512.f.shantanu@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
